In [6]:
import numpy as np
import pandas as pd
import os
import csv

In [77]:
csv_file = '/Users/yuyouyou/Downloads/Default Dataset-3.csv'

with open(csv_file, 'r') as file:
    reader = csv.reader(file)
    data = [row for row in reader]

In [78]:
data = pd.DataFrame(data[1:], columns=data[0])
data.head(5)

                     f                    n
0  0.38106602059357964    6.558327119621412
1  0.41366848374722387   6.5571412948381465
2  0.44535898988957734    6.559765546133657
3  0.47887341005451245   6.5652596337389655
4   0.5114758732081567    6.567904935178558

In [79]:
v_vacuum = 299792458  # m/s
data['n'] = data['n'].astype(float)
data['f'] = data['f'].astype(float)*1e12
wl = v_vacuum / data['n'] / data['f']/1e5  # wavelength in meters
data['wl'] = wl

In [80]:
data = data[1:]
data.drop(columns=['f'], inplace=True)
data.head(5)

          n            wl
1  6.557141  1.105233e-09
2  6.559766  1.026177e-09
3  6.565260  9.535601e-10
4  6.567905  8.924188e-10
5  6.569364  8.387565e-10

In [81]:
data = data.reindex(columns=['wl', 'n'])
data.head(5)

             wl         n
1  1.105233e-09  6.557141
2  1.026177e-09  6.559766
3  9.535601e-10  6.565260
4  8.924188e-10  6.567905
5  8.387565e-10  6.569364

In [ ]:
data.to_csv('/Users/yuyouyou/Downloads/LiNbO3_ordinary.csv', index=False)

In [ ]:
data.tail(5)a

              wl         n
42  2.500633e-10  6.849219
43  2.449525e-10  6.864270
44  2.400893e-10  6.877551
45  2.353113e-10  6.893414
46           NaN       NaN